body {
    text-align: center;
    background-image: url("https://unsplash.com/photos/4tGG0xDqTlY");
    background-color: #a3daeb;
  }
  div {
    margin-top: 15px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
  }